/*  */
.Gallery-container {
    height: 95vh;
    border-bottom: 15px solid black;
    text-align: center;
    background: radial-gradient(ellipse at bottom, #020202 0%, #d3364b 100%);
}

/*  */
#Carousel {
    margin-left: 220px;
    margin-right: 200px;
    z-index: 5;
    width: 850px;
}

/*  */
#Gallery-title {
    text-align: center;
    font-size: 55px;
    font-family: 'Allerta Stencil', sans-serif;
    padding-top: 30px;
    padding-bottom: 15px;
    color: white;
}

/*  */
#Gallery-img {
    height: 465px;
    border: 2px solid black;
}

/*  */
.Gallery-img {
    padding-left: 30px;
    padding-bottom: 40px;
}