/*  */
.Gallery-container {
    height: 205vh;
    border-bottom: 15px solid black;
    text-align: center;
    background: radial-gradient(ellipse at bottom, #273248 0%, #367fd3 100%);
}

/*  */
#Gallery-title {
    text-align: center;
    font-size: 55px;
    font-family: 'Allerta Stencil', sans-serif;
    padding-top: 40px;
    padding-bottom: 30px;
    color: white;
}

/*  */
.Gallery-img {
    height: 400px;
}

/*  */
.Gallery-img {
    padding-left: 30px;
    padding-bottom: 40px;
}