/* MEDIA QUERY */

/* 414px - 736px */
@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio : 3) {
    /*  */
    .Gallery-container {
        height: 535vh;
        width: 539px;
    }

    .Gallery-img {
        margin-left: -30px;
    }
}


/* 1281px - 1920px */
@media only screen and (min-width: 1281px) and (max-width: 1920px) {
    /*  */
    .Gallery-container {
        height: 170vh;
    }

    /*  */
    #Gallery-title {
        font-size: 75px;
    }

    /*  */
    .Gallery-img {
        height: 450px;
        width: 525px;
        margin-left: 40px;
        margin-bottom: 40px;
    }

    /*  */
    .Gallery-row1, .Gallery-row2, .Gallery-row3 {
        margin-left: -55px;
    }
}