/* iPhone 8 Plus */
@media only screen and (min-width: 414px) and (max-width: 736px) {
    /*  */
    .Contact-container {
        height: 180vh;
    }

    /*  */
    #stay-sharp-map {
        width: 390px;
        margin-left: 10px;
    }

    /*  */
    .Contact-info {
        display: block;
    }

}