/* iPhone 8 Plus */
@media only screen and (min-width: 414px) and (max-width: 736px) and (-webkit-device-pixel-ratio : 3) {
    /*  */
    .Contact-container {
        height: 180vh;
    }

    /*  */
    #stay-sharp-map {
        width: 405px;
        margin-left: 5px;
    }

    /*  */
    .Contact-info {
        display: block;
        
    }

    /*  */
    .Contact-cell {
        margin-left: 150px;
        margin-bottom: 50px;
    }

    /*  */
    .Contact-address {
        margin-left: 150px;
        margin-bottom: 50px;
    }

    /*  */
    .Contact-hours {
        margin-left: 150px;
        width: 170px;
    }

}