/* iPhone 8 Plus */
@media only screen and (min-width: 414px) and (max-width: 736px) {
    /*  */
    #Contact-container {
        height: 195vh;
    }

    /*  */
    #stay-sharp-map {
        width: 405px;
        margin-left: 5px;
    }

    /*  */
    .Contact-info {
        display: block;
        
    }

    /*  */
    .Contact-cell {
        margin-left: 150px;
        margin-bottom: 50px;
    }

    /*  */
    .Contact-address {
        margin-left: 150px;
        margin-bottom: 50px;
    }

    /*  */
    .Contact-hours {
        margin-left: 150px;
        width: 170px;
    }

}


/* iPhone 11 Pro & iPhone 12 Mini */
@media only screen and (min-width: 375px) and (max-width: 812px) {
    /*  */
    .Contact-container {
        height: 170vh;
    }

    /*  */
    #stay-sharp-map {
        width: 365px;
        margin-left: 5px;
    }

    /*  */
    .Contact-info {
        display: block;
    }

    /*  */
    .Contact-cell {
        margin-bottom: 50px;
    }

    /*  */
    .Contact-address {
        margin-left: 0px;
        margin-bottom: 50px;
        margin-left: 150px;
    }

    /*  */
    .Contact-hours {
        width: 220px;
        margin-left: 150px;
    }

}


/* iPhone 12 & iPhone 12 Pro */
@media only screen and (min-width: 390px) and (max-width: 844px) {
    /*  */
    #stay-sharp-map {
        width: 380px;
    }

}


/* iPhone 11 & iPhone 11 Pro Max */
@media only screen and (min-width: 414px) and (max-width: 896px) {
    /*  */
    #stay-sharp-map {
        width: 405px;
    }

}


/* iPhone 12 Pro Max */
@media only screen and (min-width: 428px) and (max-width: 926px) {
    /*  */
    #stay-sharp-map {
        width: 417px;
    }

}


/* Large Desktop */
@media only screen and (min-width: 1281px) and (max-width: 1920px) {
    /*  */
    #stay-sharp-map {
        width: 1650px;
        height: 740px;
    }

    /*  */
    .Contact-info {
        
    }

    /*  */
    .Contact-cell {
        margin-left: 300px;
    }

    /*  */
    .Contact-address {
        margin-left: 425px;
    }

    /*  */
    .Contact-hours {
        margin-left: 400px;
    }

}