/* .Barbers-container */
.Barbers-container {
    height: 140vh;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #263937 100%);
    border-bottom: 15px solid black;
}

/*  */
#Barbers-title {
    font-family: 'Allerta Stencil', sans-serif;
    color: white;
    font-size: 55px;
    padding-top: 40px;
    text-align: center;
    border-top: 12px solid black;
    padding-bottom: 40px;
}

/*  */
.Barbers-row1, .Barbers-row2 {
    display: inline-flex;
    margin-left: -50px;
}

/*  */
.Card {
    margin-left: 200px;
}

#Card {
    width: 400px;
    height: 335px;
    background-color: silver;
}

/*  */
.Barbers-img {
    height: 205px;
    border-bottom: 5px solid black;
}

/*  */
#Card-title {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}

/*  */
#Card3, #Card4 {
    margin-top: 50px;
}

/*  */
.Card-btns {
    display: inline-flex;
}

/*  */
#Booksy-btn {
    font-size: 15px;
    width: 155px;
}

/*  */
#IG-btn {
    margin-left: 90px;
    width: 120px;
    height: 40px;
}