/* .Barbers-container */
.Barbers-container {
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #263937 100%);
    border-bottom: 15px solid black;
}

/*  */
#Barbers-title {
    font-family: 'Allerta Stencil', sans-serif;
    color: white;
    font-size: 55px;
    padding-top: 40px;
    text-align: center;
    border-top: 10px solid black;
    padding-bottom: 40px;
}

/*  */
.Barbers-row1, .Barbers-row2 {
    display: inline-flex;
}

/*  */
.Barbers-row1 {
    padding-bottom: 70px;
}

/*  */
.Card {
    margin-left: 65px;
}

#Card {
    width: 340px;
}

/*  */
.Barbers-img {
    height: 205px;
}

/*  */
.Card-btns {
    display: inline-flex;
}

#IG-btn {
    margin-left: 45px;
}