/* MEDIA QUERY */

/* 414px - 736px */
@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio : 3) {
    /*  */
    .Background-container {
        width: 500px;
    }
}



/* 1281px - 1920px */
@media only screen and (min-width: 1281px) and (max-width: 1920px) {
    /*  */
    #Background-title {
        font-size: 75px;
    }

    /*  */
    #Background-message, #Background-message2 {
        font-size: 40px;
    }

    /*  */
    #Background-btn-text {
        width: 300px;
        height: 60px;
    }
}