/* MEDIA QUERY */

/* iPhone 8 Plus */
/* 414px - 736px */
@media only screen and (device-width: 375px) and (device-height: 667px) {
    #Footer-container {
        width: 555px;
    }
}



/* iPhone 11 Pro & iPhone 12 Mini */
/* 375px - 812px */
@media only screen and (device-width: 375px) and (device-height: 812px) {
    /*  */
    .Footer-container {
        width: 554px;
    }

}



/* iPhone 12 & iPhone 12 Pro */
/* 390px - 844px */
@media only screen and (min-width: 390px) and (max-width: 844px) {
    /*  */
    .Footer-container {
        width: 550.5px;
    }

}




/* Desktop */
/* 1281px - 1920px */
@media only screen and (min-width: 1281px) and (max-width: 1920px) {
    /*  */
    #Footer-title {
        padding-top: 50px;
        font-size: 40px;
    }
}